:root {
    /*   color variables */
    --clr-primary: #5930ff;
    --clr-primary-hover: #29e6a7;
    --clr-primary-dark: #039d69;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
  
    /*   border radius */
    --radius: 0.2rem;
  }
  

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Gilroy-Medium, sans-serif;
    background-color: var(--clr-gray100);
}

nav{
    position: aboslute;
    background: #FF0000;
    height: 100vh;
    box-shadow: 0px 0px 10px var(--clr-gray300);

    &_list{
        list-style: none;
        display: flex;
    }

}